!!! 5
html
  head
    title Gustavo Leguizamon
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(name='author', content='Gustavo Leguizamon')
    link(rel='icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    #main
      a.avatar(href='images/goopi.jpg')
        img(src='images/goopi.jpg', title='Gustavo Leguizamon', alt='avatar')
      p
        | Hi, I'm Gustavo!. I live in 
        a(href='https://maps.google.com.ar/maps?q=Mar+del+Plata,+Buenos+Aires,+Argentina&hl=es&sll=-34.605096,-58.436279&sspn=0.094666,0.181789&hnear=Mar+del+Plata,+Buenos+Aires&t=m&z=11').
          Mar del Plata, Argentina
        | . I write code for 
        a(href='http://irbislab.com/') IrbisLab
        | , mostly in JavaScript, Objective-C, Python and Go. I’m a big fan of functional programming: Lisp, Clojure, Haskell.
      p
        | I'm on 
        a(href='http://twitter.com/goopi') Twitter
        |  and 
        a(href='http://github.com/goopi') GitHub
        | .
      p
        | If you want to get in touch, send 
        a(href='mailto:gustavo@irbislab.com') an email
        | .
