!!! 5
html
  head
    title Gustavo Leguizamon (@goopi)
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    style.
      body {
        font-family: Palatino,serif;
        font-size: 1em;
        font-weight: 300;
        margin: 0.5em;
        padding: 0;
      }
      p {
        line-height: 1.6em;
        margin: 0.5em 0;
        max-width: 50em;
      }
      a {
        color: #D95B43;
      }
      a:visited {
        color: #BD1550;
      }
      li {
        margin-bottom: 0.3em;
      }
  body
    #main
      p
        | Hi! I'm Gustavo Leguizamon (
        a(href='http://github.com/goopi', target='_blank') @goopi
        | ). I live in 
        a(href='https://maps.google.com.ar/maps?q=Mar+del+Plata,+Buenos+Aires,+Argentina&hl=es&sll=-34.605096,-58.436279&sspn=0.094666,0.181789&hnear=Mar+del+Plata,+Buenos+Aires&t=m&z=11',
          target='_blank') Mar del Plata, Argentina
        | . I write code for 
        a(href='http://irbislab.com/', target='_blank') Irbis Lab
        | , mostly in JavaScript, Objective-C and Python. I’m a big fan of
        | functional programming, Lisp, Clojure, Haskell, etc.
        | <br>Sometimes I 
        a(href='http://twitter.com/goopi', target='_blank') tweet
        | .
      p Here's a short list of the latest projects I've been working on:
      ul
        li Watch - Find the movies you want to watch.
        li Coolibri - Brings your tweets to life.
